<head>
    <link rel="stylesheet" href="/styles.css">
    
</head>
<h2>All Users</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Created At</th>
    </tr>
    <% users.forEach(user => { %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= user.createdAt %></td>
        </tr>
    <% }); %>
</table>
